@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    background: #0c0c0c;
}
table, th, td {
    border: 1px solid black;
}
h1, h2, h3, p {
    font-family: Questrial;
    color: White;
}

#header {
    position: relative;
    width: 50%;
    height: 50%;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
    text-align: right;
}
